
.cards
{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.cards h1
{
    color: #403C45;
    margin: auto;
    width: 400px;
}

.destinations-container
{
    width: 75%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
    grid-template-rows: repeat(2, 1fr);    /* Two rows with equal height */
    row-gap: 30px;
    column-gap: 30px; 
    /* box-sizing: border-box;      */
}

.cards>button
{
    border: none;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
}

