
.cards
{

    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.cards h1
{
    color: #403C45;
    margin: auto;
    width: 400px;
}

.destinations-container
{
    width: 75%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
    grid-template-rows: repeat(2, 1fr);    /* Two rows with equal height */
    row-gap: 30px;
    column-gap: 30px; 
    /* box-sizing: border-box;      */
}

.cards>button
{
    border: none;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.bg_ele7
{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url("../images/absbg4.png");
    background-size: cover;
    top: -45px;
    left: -100px;
}

.bg_ele8
{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url("../images/absbg4.png");
    background-size: cover;
    top: -45px;
    right: -100px;
}

.bg_ele9
{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url("../images/absbg4.png");
    background-size: cover;
    bottom: -90px;
    left: -100px;
}

.bg_ele10
{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url("../images/absbg4.png");
    background-size: cover;
    bottom: -90px;
    right: -100px;
}