.change_password_parent
{
    padding: 20px;
}


.change_password_parent form
{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.change_password_parent form div
{
    width: calc(50% - 20px);
    position: relative;
}

.change_password_parent form div label
{
    letter-spacing: 0.5px;
    font-size: 15px;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
}

.change_password_parent form div input
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    outline: none;
    color: var(--para);
    border: 1px solid #eee;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    background-color: #f8f4f4;
    margin-top: 10px;
}

.change_password_parent form div input::placeholder
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: var(--para);
}

.change_password_parent form  button
{
    width: 200px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--primary);
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}

.eye_icon
{
    width: 25px;
    height: 25px;
    fill: var(--primary);
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 31.5px;
    right: 10px;
}

.change_password_parent form p
{
    font-size: 14px;
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.successfully_changed
{
    height: 234.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tick_icon
{
    width: 50px;
    height: 50px;
    fill: var(--primary);
}

.successfully_changed h1
{
    font-size: 20px;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
}