.change_password_parent
{
    padding: 20px;
}


.change_password_parent form
{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.change_password_parent form div
{
    width: calc(50% - 20px);
}

.change_password_parent form div label
{
    letter-spacing: 0.5px;
    font-size: 15px;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
}

.change_password_parent form div input
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    outline: none;
    color: var(--para);
    border: 1px solid #eee;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.change_password_parent form div input::placeholder
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: var(--para);
}

.change_password_parent form  button
{
    width: 200px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--primary);
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}