.myprofile_sub_parent
{
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.myprofile_sub_parent>label
{
    margin-bottom: 40px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 25px;
    background-color: var(--bg2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.myprofile_sub_parent>label input
{
    display: none;
}

.profile_icon_sub
{
    fill: var(--heading);
    height: 50px;
    width: 50px;
}

.plus_icon_sub
{
    background-color: var(--bg1);
    fill: var(--para);
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 0px;
    border-radius: 50%;
    border: 2px solid white;
}

.myprofile_sub_parent> div img
{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.image_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.image_options
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image_options>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 5px;
    position: relative;
}

.image_options>div span
{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-left: 3px;
    color: var(--heading);
}

.image_options input
{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.delete_icon, .addPhoto_icon
{
    fill: var(--primary);
    width: 25px;
}

.edit_icon_profile
{
    width: 22px;
    fill: var(--primary);
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cross_icon_profile
{
    width: 25px;
    height: 25px;
    fill: var(--primary);
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 500;
}

.myprofile_sub_parent form
{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.myprofile_sub_parent form div
{
    width: calc(50% - 20px);
}

.myprofile_sub_parent form div label
{
    letter-spacing: 0.5px;
    font-size: 15px;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
}

.myprofile_sub_parent form div input, .myprofile_sub_parent form div select
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    outline: none;
    color: var(--para);
    border: 1px solid #eee;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    background-color: #f8f4f4;
    margin-top: 10px;
}

.myprofile_sub_parent form div input[type="date"]::-webkit-calendar-picker-indicator , .out input[type="date"]::-webkit-calendar-picker-indicator 
{
    opacity: 0;
    font-size: 20px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
  
.myprofile_sub_parent form div input[type="date"]::-moz-calendar-picker-indicator, .out input[type="date"]::-moz-calendar-picker-indicator
{
    opacity: 0;
    font-size: 20px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.myprofile_sub_parent form div input[type="date"], .myprofile_sub_parent form div input[type="date"]
{
    position: relative;
}

.myprofile_sub_parent form div input[type="date"]::after, .myprofile_sub_parent form div input[type="date"]::after
{
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-size: 17px;
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.myprofile_sub_parent form button
{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    margin-top: 20px;
    letter-spacing: 0.5px;
}