.profile_parent
{
    width: 100%;
    box-sizing: border-box;
    /* padding: 120px 100px 100px 100px; */
    min-height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
}

.profile_bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profile_parent h1
{
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
}

.profile_contents
{
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    width: 95%;
}

.profile_list
{
    background-color: white;
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000029, 0 2px 10px #0000001f;
}

.profile_list_header
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000029, 0 2px 10px #0000001f;
}

.profile_list_header label
{
    border-radius: 50%;
    padding: 25px;
    background-color: var(--bg2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile_icon
{
    fill: var(--heading);
    height: 50px;
    width: 50px;
    padding: 25px;
    border-radius: 50%;
    background-color: var(--bg2);
}

.plus_icon
{
    background-color: var(--bg1);
    fill: var(--para);
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0px;
    right: -4px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-pic
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_list_header label input
{
    display: none;
}

.profile_list_header>div
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.profile_list_header h4
{
    color: var(--heading);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}

.profile_list_header p
{
    color: var(--heading);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
}

.profile_list ul
{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;

}

.profile_list ul li
{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.1s linear;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-size: 14.5px;
    cursor: pointer;
}

.profile_list ul li:hover
{
    color: var(--primary);
}

.profile_list ul li a
{
    width: 100%;
    height: 100%;
    font-size: 14.5px;
    color: var(--heading);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.1s ease-in-out;
    letter-spacing: 1px;
    position: absolute;
    padding: 5px 45px;
    box-sizing: border-box;
}

.profile_list ul li a:hover 
{
    color: var(--primary);
    font-weight: 400;
    font-size: 15px;
}

.profile_list ul li span
{
    left: 0;
    position: absolute;
    height: 100%;
    background-color: var(--bg2);
    transition: 0.1s ease-in-out;
}


.span_width_5
{
    color: var(--primary) !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.span_width_5>span
{
    width: 5px !important;
}

.span_width_5 a
{
    color: var(--primary) !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.profile_list ul li:hover span
{
    animation-name: span_animation;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

@keyframes span_animation
{
    from
    {
        width: 0px;
    }
    to
    {
        width: 5px;
    }
}

.profile_list ul li:nth-child(1)::before
{
    font-family: 'Font Awesome 5 Free';
    content: '\f007';
    font-size: 17px;
    margin-left: 17px;
}

.profile_list ul li:nth-child(2)::before
{
    font-family: 'Font Awesome 5 Free';
    content: '\f2b9';
    font-size: 17px;
    margin-left: 17px;
}

.profile_list ul li:nth-child(3)::before
{
    font-family: 'Font Awesome 5 Free';
    content: '\f004';
    font-size: 17px;
    margin-left: 17px;
}

.profile_list ul li:nth-child(4)::before
{
    font-family: 'Material Icons';
    content: '\e897';
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
}

.profile_list ul li:nth-child(5)::before
{
    font-family: 'Material Icons';
    content: '\e9ba';
    font-weight: 500;
    margin-right: 15px;
    font-size: 20px;
    margin-left: 17px;
}

.profile_right_block
{
    width: calc(100% - 310px);
    box-shadow: 0 2px 5px #00000029, 0 2px 10px #0000001f;
    min-width: 890px;
    border-radius: 5px;
    background-color: white;
}

