.whyus_parent
{
    width: calc(75% + 50px);
    margin: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr; 
    gap: 20px;

}

.why_topic_1, .why_topic_2, .why_topic_3, .why_topic_4
{
    height: 260px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.why_topic_1 i, .why_topic_2 i, .why_topic_3 i, .why_topic_4 i
{
    color: var(--primary);
    font-size: 25px;
    background-color: #ffecf0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.why_topic_1 h4, .why_topic_2 h4, .why_topic_3 h4, .why_topic_4 h4
{
    margin: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: var(--heading);
    text-align: left;
}

.why_topic_1 p, .why_topic_2 p, .why_topic_3 p, .why_topic_4 p
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: var(--para);
    letter-spacing: 0.5px;
    font-size: 13px;
}

.why_desc
{
    height: 260px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
}


.why_desc h2
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--heading);
    letter-spacing: 0.5px;
    font-size: 30px;
}

.why_desc p
{
    color: var(--para);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    letter-spacing: 1px;
    font-size: 14px;
}

.why_desc a
{
    text-decoration: none;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}


.statistics
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 260px;
    box-sizing: border-box;
    gap: 20px;

}

.customers, .teams, .destinations, .hotels
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
}

.customers h1, .teams h1, .destinations h1, .hotels h1
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: var(--heading);
    letter-spacing: 0.5px;
    font-size: 40px;
}

.customers p, .teams p, .destinations p, .hotels p
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: var(--primary);
    letter-spacing: 0.5px;
    font-size: 13px;
}
